<div id="<%= dom_id match %>">
  <div>
    <strong>Home team:</strong>
    <%= match.home_team %>
  </div>

  <div>
    <strong>Away team:</strong>
    <%= match.away_team %>
  </div>

  <div>
    <strong>Home score:</strong>
    <%= match.home_score %>
  </div>

  <div>
    <strong>Away score:</strong>
    <%= match.away_score %>
  </div>

  <div>
    <strong>Possession:</strong>
    <%= match.possession %>
  </div>

  <div>
    <strong>Tackles made:</strong>
    <%= match.tackles_made %>
  </div>

  <div>
    <strong>Tackles missed:</strong>
    <%= match.tackles_missed %>
  </div>

  <div>
    <strong>Penalties:</strong>
    <%= match.penalties %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= match.notes %>
  </div>

</div>
